# Created: Tue 15 Sep 2020 11:31:29 AM IST
# Last-Modified: Mon 21 Sep 2020 01:08:53 PM IST
# Author: Annamalai Gurusami <annamalai.gurusami@gmail.com>
#
# Kindly keep the configuration parameters in alphabetical order.

# The MySQL Client
[client]
# On Unix platforms, this variable is the name of the socket file that is
# used for local client connections.
socket = /home/annamalai/i/my_data/mysql.sock
#
# The MySQL server
[mysqld]

# The path to the MySQL server data directory. Relative paths are resolved with
# respect to the current directory. If the server will be started automatically
# (that is, in contexts for which you cannot assume what the current directory
# will be), it is best to specify the datadir value as an absolute path. 
datadir = /home/annamalai/i/my_data

# The number of the port on which the server listens for TCP/IP connections.
port = 8888

# If set to the name of a directory, the server limits import and export
# operations to work only with files in that directory. The directory
# must exist; the server will not create it. 
secure_file_priv = /home/annamalai/upload/

# On Unix platforms, this variable is the name of the socket file that is
# used for local client connections.
socket = /home/annamalai/i/my_data/mysql.sock
