# Created: Tue 15 Sep 2020 11:31:29 AM IST
# Last-Modified: Fri 25 Sep 2020 09:24:46 AM IST
# Author: Annamalai Gurusami <annamalai.gurusami@gmail.com>
#
# Kindly keep the configuration parameters in alphabetical order.

# The MySQL Client
[client]
# On Unix platforms, this variable is the name of the socket file that is
# used for local client connections.
socket = /home/annamalai/i/my_data/mysql.sock
#
# The MySQL server
[mysqld]

# The path to the MySQL server data directory. Relative paths are resolved with
# respect to the current directory. If the server will be started automatically
# (that is, in contexts for which you cannot assume what the current directory
# will be), it is best to specify the datadir value as an absolute path. 
datadir = /home/annamalai/i/my_data

# Set the default error log destination to the named file.  If the option names
# no file, the default error log destination on Unix and Unix-like systems is a
# file named host_name.err in the data directory.
log_error = /home/annamalai/i/my_data/mysql.err

# Specify the verbosity for handling events intended for the error log.
# This variable affects filtering performed by the log_filter_internal error
# log filter component, which is enabled by default. If log_filter_internal
# is disabled, log_error_verbosity has no effect. 
log_error_verbosity=3

# The maximum size of one packet or any generated/intermediate string, or any
# parameter sent by the mysql_stmt_send_long_data() C API function. The default
# is 64MB.
#
# You must increase this value if you are using large BLOB columns or long
# strings. It should be as big as the largest BLOB you want to use. The
# protocol limit for max_allowed_packet is 1GB. The value should be a multiple
# of 1024; nonmultiples are rounded down to the nearest multiple. 
#
# (Note: 32MB = 33554432).
max_allowed_packet=33554432

# The number of the port on which the server listens for TCP/IP connections.
port = 8888

# If set to the name of a directory, the server limits import and export
# operations to work only with files in that directory. The directory
# must exist; the server will not create it. 
# secure_file_priv = /home/annamalai/upload/

# On Unix platforms, this variable is the name of the socket file that is
# used for local client connections.
socket = /home/annamalai/i/my_data/mysql.sock

